doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')

    link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css')
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')


  body
    // my content is inserted here
    block content
      //watching if input is checked in by user
    script(src='/javascripts/appFrontEnd.js')
      //import io to front js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    //script(src='https://cdn.socket.io/socket.io-1.2.0.js')
